{% extends 'base.html.twig' %}

{% block title %}Etudiant Controller!
{% endblock %}

{% block body %}
	<h4>Liste des etudiants:
	</h4>
	<ul>
		{% for i in etudiants %}
			<li>{{i | upper}}</li>
		{% else %}
			<li>
				<b>Aucun etudiant</b>
			</li>
		{% endfor %}
	</ul>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>Nom</th>
			<th>Nombre Heures</th>
			<th>Affecter</th>
		</tr>
		{% for i in modules %}
			<tr>
				<td>{{i.id}}</td>
				<td>{{i.nom}}</td>
				<td>{{i.nbrHeures}}</td>
				<td>
					<a href="{{path('affectation')}}">Affecter</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td>No modules</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
